@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.bg-color {
    background: black;
}

/* banner */
.benner {
    border: 2px solid red;
    width: 1440px;
    height: 715px;
    margin: 0 auto;
    position: absolute;
    background-color: rgb(17, 17, 17);
    margin: 0px;
    height: 100vh;
}

/* Fitness */
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 1060px;
    height: 46px;
    left: 190px;
    top: 57px;
}

.nav-option {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 4px;
    list-style-type: none;
    gap: 47px;
    color: white;
    box-sizing: border-box;
    border-radius: 39px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 1rem;
}

.nav-brand {
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.home {
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 8px 20px 8px 20px;
    color: white;
}

.header-text {
    width: 600px;
    height: auto;
    border: 2px solid red;
    position: absolute;
    left: 190px;
    top: 199px;
}

.header-img {
    position: absolute;
    left: 877px;
    top: 135px;
    width: 349px;
    height: 580px;
}

.hea-h {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin: 0;
}

samp {}

.hea-p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    margin: 28px 0px;
}

.button-1 {
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
}

.button-2 {
    box-sizing: border-box;
    border: 1px solid red;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;

}

.hea-pad {}

.video-350 {
    position: absolute;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;

    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 206px;
    height: 96px;
    left: 764px;
    top: 556px;

}

.video {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50% 50%;
    background: rgb(230, 83, 60);
    gap: 15px;
    color: white;
    margin: 28px 143px 28px 23px;
}

.video-text {
    color: white;
    position: absolute;
    width: 108px;
    height: 56px;
    margin: 20px 23px 20px 75px;
    bottom: 20px;
}

.vi-350 {
    color: white;
}

/* Habits */
.Habits {
    position: absolute;
    width: 1044px;
    height: 452px;
    left: 198px;
    top: 815px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;

}

.Habits-title {
    position: static;
    width: 671px;
    height: 120px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}

.title-name {
    position: static;
    width: 476px;
    height: 58px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.title-para {
    position: static;
    width: 671px;
    height: 48px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
}

.img-four {
    position: static;
    width: 1044px;
    height: 274px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    flex: none;
    flex: none;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 58px 0px;
}